*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* wrong way:  */
/* .one{
  background: #ffdd36;
}

.two{
  background: #ffdd36;
} */

/* right way */
:root {
  /* this suda-selector matches html element and we can define custom property or global variables*/
  --color-primary: #ffdd36; /* --name-of-custom-property*/
  --border-size: 2px;
  --border-radius: 10px;
}

.one {
  background: var(--color-primary);
}

.two {
  background: var(--color-primary);
}
