*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.first {
  /* display: none; */
  /* hide element as if it never wasn't in there */
  visibility: hidden;
  /* hide element but it still was in there  */
}
