body {
  margin: 10px;
}

p::first-letter {
  font-size: 140%;
  font-wight: bold;
}

p::first-line {
  font-weight: bold;
}

/* ::selecton apply to all element */
p::selection {
  background-color: pink;
}

p::before {
  content: "...";
}

p::after {
  content: "...";
  display: block;
}
